<!DOCTYPE html>
<html lang="en">
<head>
	<title>Профиль</title>
    <%- include('partials/head.ejs') %>
</head>


<body data-authorid="<%=blog.author._id%>">
    <%- include('partials/header.ejs') %>
<section class="container page">
<div class="page-content">
		<div class="blogs">
			<div class="blog-item">
				<img class="blog-item--img" src="<%=blog.img%>" alt="">

                <div class="blog-info">
					<span class="link">
						<img src="/images/date.svg" alt="">
						<%=moment(blog.date).fromNow()%>
					</span>
					<span class="link">
						<img src="/images/visibility.svg" alt="">
						4
					</span>
					<a class="link">
						<img src="/images/message.svg" alt="">
						=$comment_count>
					</a>
					<span class="link">
						<img src="/images/forums.svg" alt="">
						<%=blog.full_name%>
					</span>
					<a class="link">
						<img src="/images/person.svg" alt="">
						<%=blog.nickname%>
					</a>
				</div>
				<div class="tags">
					<%
						blog.tags.forEach(tag =>{
					%>
						<a class="tag"> <%=tag.name%> </a>
					<%
						})
					%>
				</div>
				<div class="blog-header">
					<h3><%=blog.title%></h3>
				</div>
				<p class="blog-desc">
					<%=blog.description%>
				</p>
			</div>
		</div>

        <div id="comments" class="comments">
            

            
        </div>

		<%
			if(typeof currentUser === 'object'){
		%>

		<span class="comment-add">
                <textarea name="" id="comment-text" class="comment-textarea" placeholder="Введит текст комментария"></textarea>
                <button id="add-comment" class="button">Отправить</button>
        </span>
        
		<%
			}
			else{
		%>
		<span class="comment-warning">
                Чтобы оставить комментарий <a href="register">зарегистрируйтесь</a> , или  <a href="login">войдите</a>  в аккаунт.
        </span>
		<% }%>
	</div>

    <%- include('partials/categories.ejs') %>
	
</section>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.0/axios.min.js"></script>
	<script src="/js/comment.js"></script>
</body>
</html>